@model LoginViewModel

@{
    Layout = null;
}

<link href="~/css/LogRegStyle.css" rel="stylesheet">

<div class="box" style="height:500px;">
    <div class="form">
        <form asp-action="Login" method="post">
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" class="form-control" />
            <h2>Login</h2>

            <div asp-validation-summary="All" style="color:red;"></div>

            <div class="input-box">
                <input type="text" asp-for="Email" required="required"  />
                <span class="custom-placeholder">Email</span>
                <i></i>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="input-box">
                <input type="password" asp-for="Password" required="required"/>
                <span class="custom-placeholder">Password</span>
                <i></i>
                <span asp-validation-for="Password"></span>
            </div>

            <div class="links">
                <a href="#">Forgot Password?</a>
                <a asp-action="Register" asp-controller="Account">Register</a>
            </div>

            <input type="submit" value="Login" />
        </form>
    </div>
</div>
