@model RegisterViewModel

@{
    Layout = null;
}

<link href="~/css/LogRegStyle.css" rel="stylesheet">

<div class="box">
    <div class="form">
        <form asp-action="Register" method="post">
            <h2>Sign Up</h2>

            <div asp-validation-summary="All" style="color:red;"></div>

            <div class="input-box">
                <input type="text" asp-for="Name" required="required"  />
                <span class="custom-placeholder">Name</span>
                <i></i>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="input-box">
                <input type="text" asp-for="Surname" required="required"  />
                <span class="custom-placeholder">Surname</span>
                <i></i>
                <span asp-validation-for="Surname"></span>
            </div>
            <div class="input-box">
                <input type="text" asp-for="Email" required="required"  />
                <span class="custom-placeholder">Email</span>
                <i></i>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="input-box">
                <input type="password" asp-for="Password" required="required"  />
                <span class="custom-placeholder">Password</span>
                <i></i>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="input-box">
                <input type="password" asp-for="ConfirmPassword" required="required"/>
                <span class="custom-placeholder">ConfirmPassword</span>
                <i></i>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <input type="submit" value="Register" />
        </form>
    </div>
</div>


@*<form asp-action="Register" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>*@

@*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@