<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Admin Panel</title>
	<link rel="shortcut icon" type="image/x-icon" href="~/Admin/assets/img/favicon.png">
	<link rel="stylesheet" href="~/Admin/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/Admin/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/Admin/assets/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="~/Admin/assets/css/feathericon.min.css">
	<link rel="stylehseet" href="https://cdn.oesmith.co.uk/morris-0.5.1.css">
	<link rel="stylesheet" href="~/Admin/assets/plugins/morris/morris.css">
	<link rel="stylesheet" href="~/Admin/assets/css/style.css">
</head>

<body>

    <div class="main-wrapper">
		
		<partial name="PartialViews/Sidebar.cshtml"></partial>
		
		<partial name="PartialViews/Navbar.cshtml"></partial>

		<div class="page-wrapper">
			<div class="content container-fluid">
				<p style="height: 20px"></p>
				<main>
					<div class="container">
						@RenderBody()
					</div>
				</main>
			</div>
		</div>
	</div>

	<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="~/Admin/assets/js/jquery-3.5.1.min.js"></script>
	<script src="~/Admin/assets/js/popper.min.js"></script>
	<script src="~/Admin/assets/js/bootstrap.min.js"></script>
	<script src="~/Admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="~/Admin/assets/plugins/raphael/raphael.min.js"></script>
	<script src="~/Admin/assets/plugins/morris/morris.min.js"></script>
	<script src="~/Admin/assets/js/chart.morris.js"></script>
	<script src="~/Admin/assets/js/script.js"></script>

</body>
</html>