@model List<TagViewModel>
<p style="height: 20px"></p>
<div class="box-container">

    @foreach (var item in Model)
    {
        <div class="card">

            <div class="contentBox">
                <h3>Tag Title</h3>
                <p style="height: 70px"></p>
                <h1>@item.Title</h1>
                <p style="height: 70px"></p>
                <a class="buy" asp-route-id="@item.Id" asp-action="Delete">Delete</a>
            </div>

        </div>
    }

</div>

<style>
    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1rem;
    }

    .card {
        height: 400px !important;
    }
</style>
