<div class="header">
	<div class="header-left">
		<a asp-action="Index" asp-controller="Home" class="logo"> <img src="~/Admin/assets/img/hotel_logo.png" width="50" height="70" alt="logo"> <span class="logoclass">Admin</span> </a>
		<a asp-action="Index" asp-controller="Home" class="logo logo-small"> <img src="~/Admin/assets/img/hotel_logo.png" alt="Logo" width="30" height="30"> </a>
	</div>
	<a href="javascript:void(0);" id="toggle_btn"> <i class="fe fe-text-align-left"></i> </a>
	<a class="mobile_btn" id="mobile_btn"> <i class="fas fa-bars"></i> </a>
	<ul class="nav user-menu">
		<li class="nav-item dropdown has-arrow">
			<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <span class="user-img"><img class="rounded-circle" src="~/Admin/assets/img/profiles/avatar-01.jpg" width="31" alt="Soeng Souy"></span> </a>
			<div class="dropdown-menu">
				<div class="user-header">
					<div class="avatar avatar-sm"> <img src="~/Admin/assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle"> </div>
					<div class="user-text">
						<h6>@User.Identity.Name</h6>
						<p class="text-muted mb-0">Admin</p>
					</div>
				</div> 
				<a class="dropdown-item" href="#l">My Profile</a> 
				<a class="dropdown-item" href="#">Account Settings</a> 
				<a class="dropdown-item" asp-action="Logout" asp-controller="Account" asp-area="">Logout</a> 
			</div>
		</li>
	</ul>
	<div class="top-nav-search">
		<form asp-action="Search" method="get">
			<input type="search" class="form-control" placeholder="Search here">
			<input class="btn" type="submit"><i class="fas fa-search"></i></input>
		</form>
	</div>
</div>

@*<nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
    <a asp-action="Index" asp-controller="Category" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <form asp-action="Search" method="get" class="d-none d-md-flex ms-4">
        <input class="form-control bg-dark border-0" type="search" name="pattern" placeholder="Search">
        <input type="submit"/>
    </form>
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img class="rounded-circle me-lg-2" src="~/Admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <span class="d-none d-lg-inline-flex">@User.Identity.Name</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                <a href="#" class="dropdown-item">My Profile</a>
                <a href="#" class="dropdown-item">Settings</a>
                <a asp-action="Logout" asp-controller="Account" asp-area="" class="dropdown-item">Log Out</a>
            </div>
        </div>
    </div>
</nav>*@