<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">

        <a asp-action="Index" asp-controller="Category" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
        </a>

        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/Admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>

            <div class="ms-3">
                <h6 class="mb-0">@User.Identity.Name</h6>
                <span>Admin</span>
            </div>
        </div>

        <div class="navbar-nav w-100">
            @*<a asp-action="Index" asp-controller="Category" class="nav-item nav-link" ><i class="fa fa-tachometer-alt me-2"></i>Categories</a>*@

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Categories</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a asp-action="Index" asp-controller="Category" class="dropdown-item">All Categories</a>
                    <a asp-action="Create" asp-controller="Category" class="dropdown-item">Add Category</a>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-th me-2"></i>Products</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a asp-action="Index" asp-controller="Product" class="dropdown-item">All Products</a>
                    <a asp-action="Create" asp-controller="Product" class="dropdown-item">Add Product</a>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Tags</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a asp-action="Index" asp-controller="Tag" class="dropdown-item">All Tags</a>
                    <a asp-action="Create" asp-controller="Tag" class="dropdown-item">Add Tag</a>
                </div>
            </div>

            @*<a asp-action="Index" asp-controller="Product" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Products</a>*@
        </div>

    </nav>
</div>