@if (User.Identity.IsAuthenticated && User.IsInRole("Client"))
{
    <a asp-controller="Account" asp-action="Logout" class="action-btn">
        <ion-icon name="exit-outline"></ion-icon>
    </a>
}
else
{
    <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl" class="action-btn">
        <ion-icon name="person-outline"></ion-icon>
    </a>
}
