@model CreateCategoryViewModel

<link href="~/css/CreateCategoryProductStyle.css" rel="stylesheet">

<div class="box" style="height:400px; margin-top: 100px;">
    <div class="form">
        <form asp-controller="Category" asp-action="Create" enctype="multipart/form-data" method="post">

            <div class="input-box">
                <input type="text" asp-for="Name" required="required"  />
                <span class="custom-placeholder">Category Name</span>
                <i></i>
            </div>

            <input type="file" asp-for="Image" style="margin-top: 50px;"/>

            <input type="submit" value="Add" style="margin-top: 50px;"/>
        </form>
    </div>
</div>