@model CreateProductViewModel

@{
	var categories = ViewData["Categories"] as List<SelectListItem>;
	var tags = ViewData["Tags"] as List<SelectListItem>;
}

<div class="container" style="text-align: center; margin-top: 100px;">
	<form asp-controller="Product" asp-action="Create" enctype="multipart/form-data" method="post">
		<input asp-for="Name" required placeholder="Product Name" /><br />
		<input asp-for="Description" placeholder="Product Description" /><br />
		<input asp-for="Price" required placeholder="Product Price" /><br />
        <input type="file" asp-for="ImageUrl"/>
        <select asp-for="tagIds" asp-items="tags" multiple></select>
		<select asp-for="CategoryId" asp-items="categories"></select><br />
		<input style="background: #EB1616;" type="submit" />
	</form>
</div>

<style>
	select {
        background: transparent;
        color: white;
        margin-top: 20px;
        border: 3px solid #EB1616;
        border-radius: 5px;
        font-size: 3rem;
    }

    select option { 
        background: black; 
        border: 3px solid #EB1616;
    }

    input {
        background: transparent;
        color: white;
		margin-top: 20px;
        border: 3px solid #EB1616;
        border-radius: 10px;
        font-size: 3rem;
    }
</style>
